name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ubuntu-latest

    timeout-minutes: 15

    env:
      COMPOSER_NO_INTERACTION: 1

    strategy:
      matrix:
        php: [8.5, 8.4, 8.3, 8.2, 8.1, 8.0]
        laravel: ['9.*', '10.*', '11.*', '12.*']
        dependency-version: [prefer-lowest, prefer-stable]
        exclude:
          - php: 8.0
            laravel: 10.*
          - laravel: 11.*
            php: 8.1
          - laravel: 11.*
            php: 8.0
          - laravel: 12.*
            php: 8.1
          - laravel: 12.*
            php: 8.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install dependencies
        run: |
          composer require "illuminate/support:${{ matrix.laravel }}" --no-update --no-progress
          composer update --prefer-dist --no-progress

      - name: Execute Unit Tests
        run: vendor/bin/phpunit
